body{
    text-align: center;
}
.code-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.code{
    height: 60px;
    width: 50px;
    border: 1px solid black;
     box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
}

.focused{
    border-radius: 10px;
    border: 2px solid rgb(25, 116, 25);
    outline: none;
}